<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of foodList">
      <div class="card col-md-3" routerLink="/fooddetails/{{item._id}}">
        <img src="{{ item.image }}" alt="" />
        <div class="card-body">
          <h4 class="card-title">{{ item.title }}</h4>
          <p class="card-text">
            {{ item.description }}
          </p>
          <p><strong>Price : </strong>${{ item.price }}</p>
          <button type="button" class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

