<div class="container">
    <div class="row">
      <ng-container >
        <div class="card col-md-3" >
  
          <img src="https://wallpapershome.com/images/pages/pic_h/17806.jpg" alt="" />
          <div class="card-body">
            <h3 class="card-title">
                Burger</h3>
           
            <p class="card-text">Chicken burger made with a crunchy chicken fillet, slice of cheese & a delicious mayo sauce
              
            </p>
            <p><strong>Price : 5$</strong></p>
           
            <button type="button" class="btn btn-danger">cancel</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  
